/* Your button CSS file */
.btn-medium {
  color: grey;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 40px;
}

.btn-medium:hover {
  color: black;
  border: 1px solid black;
}

.btn-treehouse {
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  background: lightgreen;
}

.btn-treehouse:hover {
  background: green;
}

.btn-yours {
  border-radius: 15px;
  padding: 10px 30px;
  margin-top: 12px;
  background-color: #3752A0;
  border: 1px solid #3752A0;
  color: white;
  font-size: 21px;
}

.btn-yours:hover {
  color: #3752A0;
  border: 1px #3752A0;
  background-color: white;
}
